<!DOCTYPE html>
<html lang="en">

{{template "header"}}

<body>
<div class="container ">
    <div class="row">
        <div class="col-4 g-1"></div>
        <div class="col-3 g-1" style="padding-top: 6.25vh;">
            <div class="card-container mx-2 mb-2">
                <div class="l1 my-2 mx-2">Submit</div>
                <ul class="list-group">
                    <li class="list-group-item bg-background">
                        <div class="list-flex-group">
                            <div class="list-label">
                                <div>Username</div>
                            </div>
                            <input type="text" class="form-check-inline bg-elevated border-0 form-floating text-secondary" placeholder="username"/>
                        </div>
                    </li>
                    <li class="list-group-item bg-background">
                        <div class="list-flex-group">
                            <div class="list-label">
                                <div>Password</div>
                            </div>
                            <input type="text" class="form-check-inline bg-elevated border-0 form-floating text-secondary" placeholder="password"/>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="card-container mx-2 mb-3">
                <ul class="list-group mb-3">
                    <li class="list-group-item bg-primary-secondary">
                        <div class="list-flex-group justify-content-center">
                            <div class="list-label">
                                <a href="#" class="text-primary text-decoration-none">
                                    Sign in
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>